body{
    position: relative;
    background: #141414;
}

.text {position: absolute;
    width: 70vw;
    height: 50vw;
    left: 200px;
    top: 100px;
    font-family: 'Brawler';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 106px;
    text-align: center;
    color: #FFFFFF;
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 5s linear infinite;
    -webkit-animation: my-animation 5s linear infinite;
    animation: my-animation 5s linear infinite;
  }
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }}

footer{
    position: relative;
    text-align: center;
    font-size: 2vw;
    color: #BEBFC4;
    position: fixed;
    bottom: 0;
    }