body{
    position: relative;
    width: 1440px;
    height: 850px;
    background: #000000;}
* {
    box-sizing: border-box;
  }

.text{position: absolute;
    width: 783px;
    height: 722px;
    left: 57px;
    top: 66px;
    font-family: 'Brawler';
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
    line-height: 98px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    text-align: left;}

.green-box{
    position: absolute;
    width: 323px;
    height: 287px;
    left: 1100px;
    top: 55px;
    background: #203B2A;
    border-radius: 60px;}

.gray-box{
    position: absolute;
    width: 272.35px;
    height: 333.7px;
    left: 1180px;
    top: 299.84px;
    background: #BEBFC4;
    border-radius: 80px;}

.tan-box{
    position: absolute;
    width: 181px;
    height: 265px;
    left: 1080px;
    top: 486px;
    background: #EBCD9C;
    border-radius: 60px;}