
body{position: relative;
background: #141414;
display:flex;}

#container {
    height: 100px;
    overflow: hidden;
    position: fixed;
    width: 1300px;
    height: 771px;
    left: 130px;}

#text{
position: absolute;
font-family: 'Franklin Gothic ATF';
font-style: normal;
font-weight: 400;
font-size: 4vw;
line-height: 120px;
text-align: center;
color: #D1D1D1;}

#text-2{
  position: absolute;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 6vw;
line-height: 120px;
text-align: center;
color: #FFFFFF;}

footer{
  position: absolute;
  text-align: center;
  font-size: 25px;
  color: #E9FC87;
  position: fixed;
  bottom: 0;
  }
